*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 5rem;
    
}

.product-image {
    width: 330px;
    height: 260px;
    border-radius: 3.5px ;
}

.product-content-container {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
}

.options-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.button-container {
    padding-top: 1rem;
}
