.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper-slide img {
  border-radius: 0.5rem;
}